<h1>Places</h1>

<h3>These are places you've been:</h3>

<ul>
  <% @places.each() do |place| %>
  <li><%= place.where() %></li>
  <% end %>
</ul>

<h3>Add a new place:</h3>

<form action="/new_place" method="post">
  <label for="place">Place</label>
  <input type="text" name="place" id="place">

  <button type="submit">Add Place</button>
</form>
